<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.devkrishna.doomsday.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:label="doomsday"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Base.AppTheme">

        <!-- SPLASH -->
        <activity
            android:name="com.devkrishna.doomsday.ui.splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- MAIN -->
        <activity
            android:name="com.devkrishna.doomsday.ui.main.MainActivity"
            android:exported="false" />

        <!-- SETTINGS -->
        <activity
            android:name="com.devkrishna.doomsday.ui.settings.SettingsActivity"
            android:exported="false" />

        <!-- WALLPAPER -->
        <service
            android:name="com.devkrishna.doomsday.wallpaper.DoomWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />

        </service>

    </application>

</manifest>
